.home_content{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.home_content_box{
  width: 50%;
  background-color: rgb(206, 203, 36);
  border-radius: 15px;
  box-shadow: 3px 3px 2px 3px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  gap: 1em;
}
.home_content_box>h1{
  padding: 5px;
  font-family: var(--font-family);
  text-align: center;
}
.home_content_box:hover{
  transform: scale(1.003);
}
.home_content_box1{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  h3{
    font-family: var(--font-family);
    text-transform: uppercase;
  }
}
.home_content_box1>select{
  width: 90%;
  font-size: medium;
  padding: 3px 4px;
}
.home_content_box1>button{
  padding: 5px 15px 4px 15px;
  font-size: medium;
  font-weight: bold;
  font-family: var(--font-family);
  text-transform: uppercase;
  overflow: hidden;
}
.home_content_box1>button:hover{
  cursor: pointer;
  transform: scale(1.03);
}
.home_content_box1>button:active{
  color: rgb(192, 240, 19);
}
.home_content-box-in{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  textArea{
    width: 100%;
    resize: none;
    padding: 9px;
    font-family: var(--font-family);
  }
  img{
    width: 50%;
    border-radius: 20px;
  }
}

@media (max-width:480px) {
  .home_content_box{
    width: 90%;
    padding: 4px;
  }
  .home_content_box1{
    width: 98%;
    margin: 0;
  }
  .home_content-box-in{
    width: 90%;
  }
}